In [1]:
from google.cloud import bigquery
client = bigquery.Client()

In [2]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [4]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', (), None),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', (), None),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', (), None),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', (), None),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", (), None),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', (), None),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', (), None),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', (), None),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', (), None),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", (), None),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', (), None),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', (), None),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', (), None),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', (), None)]

In [5]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,We need a guide and tutorial &quot;How to leak...,<NA>,antocv,<NA>,1373556034,2013-07-11 15:20:34+00:00,comment,6026565,6025579,<NA>,<NA>,<NA>
1,None,None,The title on that Reddit post is far better th...,<NA>,WillDaSilva,<NA>,1639325529,2021-12-12 16:12:09+00:00,comment,29530769,29530148,<NA>,<NA>,<NA>
2,None,None,I would prefer to only have 3 “users”. Persona...,<NA>,yoz-y,<NA>,1505281003,2017-09-13 05:36:43+00:00,comment,15235817,15233868,<NA>,<NA>,<NA>
3,None,None,But the mirror may be less convenient. This wo...,<NA>,progval,<NA>,1639325516,2021-12-12 16:11:56+00:00,comment,29530768,29530527,<NA>,<NA>,<NA>
4,None,None,"Sure, just create it and convince other people...",<NA>,wavefunction,<NA>,1501784111,2017-08-03 18:15:11+00:00,comment,14922168,14922116,<NA>,<NA>,<NA>

In [17]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[4:5], max_results=5).to_dataframe()

             by
0        antocv
1   WillDaSilva
2         yoz-y
3       progval
4  wavefunction